body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
p{
	margin: 0;
}
h1, h2{
	font-weight: 800;
	margin: 0;
}
h4{
	margin: 0;
}
.header{
	background-color: #1326CE ;
	color: #fff;
	padding-top: 77px;
	padding-bottom: 176px;
}
.container-navs{
	display: flex;
	justify-content: space-between;
	margin-bottom: 157px;
}
.container-navs__logo{
	font-weight: 800;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.container__nav{
	color: #fff;
	margin: 0;
	text-decoration: none;
	
}
.header__nav_font{
	font-weight: 800;
	font-size: 16px;
}
.block__title{
	font-size: 80px;
	margin-bottom: 50px;
	line-height: 106px;
	text-transform: uppercase;
}
.block__item:not(:last-child){
	padding-right: 26px;
}
.block__item{
	border-radius: 50%;
}
.block__imges{
	margin-bottom: 40px;
	display: flex;
}
.content{
	padding: 26px;
}
.content__title{
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 8px;
}
.content__text{
	line-height: 20px;
	font-size: 15px;
	font-weight: 400;
}
.content{
	width: 500px;
	background-color: #0E20BF;
	border-radius: 10px;
}
/*///////////////////////////////////////////////*/
.cool{
	padding-top: 128px;
}
.table__title{
	margin-bottom: 72px;
	font-size: 35px;
	font-weight: 800;
	line-height: 50px;
	text-transform: uppercase;
}
td, th{
	width: 286px;
	height: 54px;
}
td{
	background: #fff;
}
.table__title-new{
	background-color: #E8E8E8;
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
}
.table__main{
	border-collapse: collapse;
}
.exercise{
	padding-top:128px;
	padding-bottom: 128px;
}
.goals__title{
	margin-bottom: 72px;
	font-size: 35px;
	font-weight: 800;
	line-height: 50px;
	text-transform: uppercase;
}
.goals__wrap{
	display: flex;
	justify-content: space-between;
}
.goals__block{
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 128px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 273px;
}
.goals__index{
	width: 40px;
	height: 40px;
	background: #3AA629;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: #fff;
}
.goals__text{
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	line-height: 21px;
	max-width: 273px;
	margin-top: 16px;
}
.goals__index_purple{
	background: #903EF9;
}
.goals__index_pink{
	background: #F93E98;
}
.goals__index_orange{
	background: #FF8038;
}