body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
p{
    margin: 0;
}
.container{
    width: 1171px;
    margin: 0 auto;
}
.container-navs__logo{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.container-navs__logo:hover{
    color: #fefed7;
    transition: all 1s ease-in-out;
}
.header{
    background: rgba(78,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 77px; 
}
.logo{
    margin-top: 60px;
}
.wrapper{
    display: flex;
}
.title{
    margin-top: 146px;
}
.title h1{
    color: white;
    font-size: 37px;
    line-height: 49px;
}
.title span{
    font-size: 59px;
    line-height: 73px;
}
.text{
    margin-top: 45px;
    color: white;
    font-size: 16px;
    line-height: 27px;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    background-color: #ffd429;
    width: 222px;
    height: 56px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 18px 26px;
    margin-top: 46px;
    margin-bottom: 213px;
    border-radius: 50px;
}
.rest{
    width: 641px;
    height: 641px;
}
.h2_1{
    font-size: 30px;
    text-align: center;
    margin-top: 108px;
    margin-bottom: 73px;
}
.skills{
    display: flex;
    justify-content: space-between;
}
.skill{
    width: 305px;   
}
.time{
    margin-left: 114px;
    margin-bottom: 30px;
}
.skill-title{
    text-align: center;
    font-size: 19px;
}
.skill-text{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-top: 19px;
    margin-bottom: 115px;
    text-align: center;
    line-height: 22px;
}
.skill-text span{
    text-align: center;
}
.h2_3{
    font-size: 30px;
    text-align: center;

}
.input:valid{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    width: 343px;
    height: 48px;
    outline: none;
    border: 0;
    border-bottom: 2px solid green;
    border-radius: 5px;
    padding-left: 24px;
    margin-left: 413px;
    margin-right: 413px;
    margin-bottom: 14px;
}
.input:invalid{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    width: 343px;
    height: 48px;
    outline: none;
    border: 0;
    border-bottom: 2px solid red;
    border-radius: 5px;
    padding-left: 24px;
    margin-left: 413px;
    margin-right: 413px;
    margin-bottom: 14px;
}
.btn_1{
    width: 343px;
    height: 48px;
    margin-left: 413px;
    margin-right: 413px;
    padding-top: 15px;
    margin-top: 0;
    border-radius: 100px;
    margin-bottom: 103px;
    transition: all 1s ease-in-out;
}
.btn-new{
    transition: all 1s ease-in-out;
}
.btn:hover{
    background:#d84f24 ;
    transition: all 1s ease-in-out;
}
.h2_22{
    margin-bottom: 57px;
}
.p1{
    margin: 0;
}
.email{
    background: #ecf3f8;
    padding-top: 103px;
    padding-bottom: 70px;
}
.footer{
    background-color: #43A8EB;
    text-align: center;
    height: 100px;
}
.container__info{
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    color: #16213E;
}
.container-wrap_flex{
    display: flex;
    justify-content: center;
}
.container-instagram__info{
    width: 90px;
    height: 90px;
    padding-left: 5px;
    padding-top: 5px;    
}
.container-instagram__info:hover{
    margin-left: 10px;
    transition: all 1s ease-in-out;
}

